.cont {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 20px;
    gap: 10px;
  }
  .cont-item {
    text-align: center;
  }
  
  .img-cont {
    text-align: left;
  }
  .img1 {
    width: 60%;
    height: 50%;
  }
  h2 {
    font-family: "Playfair Display";
  }
  h1 {
    font-family: "Playfair Display";
  }
  .text-cont {
    text-align: left;
    margin-top: 20%;
  }
  
  .text {
    margin: 1% 5%;
  }
  input {
    margin-bottom: 1%;
    width: 60%;
    padding: 10px 16px;
    border-radius: 5px;
  }
  .btn {
    margin-top: 1%;
    background-color: blue;
    color: white;
    padding: 10px 16px;
    width: 60%; 
    text-align: center;
    border-radius: 5px;
  }
  .text1 {
    color: #a0a0a0;
  }
  .logIn {
    display: flex;
    margin-top: 1%;
    gap: 25%;
  }
  
  .btn:hover {
    background-color: white;
    color: blue;
    padding: 10px 20px;
  }
  .btn:active {
    transform: translateY(-4px);
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
  }
  