.navbar {
  position:inherit;
  
  height: 80px;
  width: 100%;
  background-color: #EEEFF3;
  padding-top: 1%;
  /* border-radius: 40px 40px 0px 0px; */
  margin: 0;
  border-bottom: 2px solid #212121;
  /* position: fixed; */
}
.links {
  list-style: none;
  display: flex;
  align-items: left;
  margin-left: -22px;
  padding-top: 1%;
}
.container {
  padding: 0px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-weight: 300;
}
.act {
  font-weight: bolder;
  color: blue;
}
.item {
  display: inline-block;
  font-family: "Playfair Display";
  font-size: 18px;
  font-weight: 400;
  color: #04162f;
  margin-right: 20px;
  letter-spacing: 0.25px;
}
.itemy:not(:last-child) {
  margin-right: 20px;
}
.item:hover{
  color:blue;
}
.item:target{
  color:blue;
}
.logoContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logoContainer h2 {
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 1.3px;
  -webkit-text-stroke: 0.4px#fff;
  margin-left: 10px;
}
.logo {
  /* display: block; */
  width: 50px;
  height: 50px;
  color: blue;
}
.btn {
  display: inline-block;
  background-color: black;
  color: white;
  letter-spacing: 0.5px;
  padding: 10px 16px;
  border-radius: 60px;
  text-decoration: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: all 0.2s ease-in;
  font-weight: 400;
}
.btn:hover {
  background-color: white;
  color: black;
  padding: 10px 20px;
}
.btn:active {
  transform: translateY(-4px);
  box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
}
.logOut{
  width: 50px;
  height: 50px;
  color: black;
}
/*Effect: Inner shadow
Radius: 4px
Offset: 0px, 4px
rgba(0, 0, 0, 0.25)*/
