.backProfil {
    text-align: center;
    margin: auto;
    top: 200px;
    /* width: 40%; */
    height: 100%;
    padding: 3%;
    background-color: #dbe9f8;
    border-radius: 15px;

}
#user{
    font-family: Candara;
    font-size: 125%;
    width: 70%;
    height: 30%;
    text-align: center;
    overflow: hidden;
}
.circle {
    position: relative;
    text-align: center;
    margin: auto;
    background: #0C44A3;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    top: 0%;
}

.user1{
    font-family: Candara;
    color: white;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
